# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

#logs
*.tlog

Origami/Library/*
*.suo
*.db
*.opendb
*.pdb

FYDP/.vs/*
FYDP/App/*
FYDP/Library/*
FYDP/obj/*
FYDP/Temp/*
FYDP/UWP/*
FYDP/Assembly-CSharp.csproj/*
FYDP/Origami.sln/*